{% extends 'base.html.twig' %}

{% block title %}Hello GestionRestaurantController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
<h1> Les commandes de mon restaurant </h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Date Livraison</th>
            <th scope="col">Client</th>
            <th scope="col">Id de la commande</th>
            <th scope="col">Statut</th>
            <th scope="col">Actions</th>
            <th scope="col">Livreur</th>
            <th scope="col">Moyen de locomotion</th>
            </tr>
        </thead>
        <tbody>
            {% for order in restaurant.orders %}
                <th scope="row">{{ order.deliveryDate|date('Y-m-d') }}</th>
                <td>{{ order.client.firstname }}</td>
                <td>{{ order.id }}</td>
                <td>{{ order.orderStatus.name}}</td>
                <td>
                    <a href="{{path('gestion_restaurant_show_and_statut_commande', {id: order.id}) }}" class="btn btn-info"> Afficher la commande </a>
                </td>
                {% if order.delivererMan %}
                <td>{{ order.delivererMan.firstname }}</td>
                {% for vehicule in order.delivererMan.vehicule %}
                    <td>{{ vehicule.type }} </td>
                {% endfor %}
                {% else %}
                    <td>Aucun livreur n'a pas en compte la commande pour le moment</td>
                    <td></td>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
