{% extends 'base.html.twig' %}

{% block title %}Liste des repas{% endblock %}

{% block body %}
<div class="container mt-4">
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger mt-3">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('supp') %}
        <div class="alert alert-success mt-3">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('add') %}
        <div class="alert alert-success mt-3">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('edit') %}
        <div class="alert alert-success mt-3">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="text-right mb-4">
            <a href="{{path('gestion_restaurant_plat_add')}}" class="btn btn-primary"> Ajouter </a>
        </div>
        <table class="table table-striped">
            <thead>
                <th> Nom du plat </th>
                <th> Type </th>
                <th> Prix </th>
                <th> Stock </th>
                <th> Actions </th>
            </thead>
            <tbody>
            {% for dish in dishs %}
                <tr>
                    <td> {{ dish.name }} </td>
                    <td> {{ dish.dishType.name }} </td>
                    <td> {{ dish.dishPrice }} </td>
                    <td> {{ dish.stock }} </td>
                    <td>
                        <a href="{{path('gestion_restaurant_plat_edit', {id: dish.id}) }}" class="btn btn-info"> Editer </a>
                        <form method="post" action="{{path('gestion_restaurant_plat_delete', {id: dish.id})}}" style="display:inline-block;" onsubmit="return confirm('Êtes vous sur de vouloir supprimer ce plat ?')">
                            <button class="btn btn-danger"> Supprimer </button>
                            <input type="hidden" name="_token" value="{{csrf_token('delete' ~ dish.id)}}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}