{% extends 'base.html.twig' %}

{% block title %}Plat{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        {{ form_start(form)}}
            {{ form_widget(form)}}
            <button class="btn btn-primary"> Envoyer </button>
        {{ form_end(form)}}
    </div>
</div>
{% endblock %}