{% extends 'base.html.twig' %}

{% block title %}Affichage de la commande{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
        <h2 class="mb-4"> Commande de {{ order.client.firstname }} </h2>
            <table class="table table-striped">
                <thead>
                    <th> Nom du plat </th>
                    <th> Quantité</th>
                </thead>
                <tbody>
                    {% for orderDish in order.orderDishes %}
                        <tr>
                            <td> {{ orderDish.dish.name }} </td>
                            <td> {{ orderDish.quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            {{ form_start(form)}}
                {{ form_widget(form)}}
                <button class="btn btn-primary mt-2 justify-content-center align-items-center"> Editer </button>
            {{ form_end(form)}}
            <p class="mt-4"> Prix de la commande : <strong>{{ order.priceTTC }} €</strong></p>
        </div>
    </div>
</div>
{% endblock %}