{% extends 'base.html.twig' %}

{% block body %}
    <h1> Votre compte à bien été crée</h1>
    <span> Veuillez choisir votre utilisation :</span>
    {% for role in app.user.roles %}
        {% if role == 'ROLE_CLIENT' %}
            <div class="form-check form-check-inline">
                <label><input type="radio" name="colorRadio" value="livreur">Livreur</label>
            </div>
            <div class="form-check form-check-inline">
                <label><input type="radio" name="colorRadio" value="restaurant">Restaurateur</label>
            </div>
        {% elseif role == 'ROLE_DELIVERER'%}
            <div class="form-check form-check-inline">
                <label><input type="radio" name="colorRadio" value="client">Client</label>
            </div>
            <div class="form-check form-check-inline">
                <label><input type="radio" name="colorRadio" value="restaurant">Restaurateur</label>
            </div>
        {% elseif role == 'ROLE_RESTAURANT'%}
            <div class="form-check form-check-inline">
                <label><input type="radio" name="colorRadio" value="client">Client</label>
            </div>
            <div class="form-check form-check-inline">
                <label><input type="radio" name="colorRadio" value="livreur">Livreur</label>
            </div>
        {% else %}
            <div class="form-check form-check-inline">
                <label><input type="radio" name="colorRadio" value="client">Client</label>
            </div>
            <div class="form-check form-check-inline">
                <label><input type="radio" name="colorRadio" value="livreur">Livreur</label>
            </div>
            <div class="form-check form-check-inline">
                <label><input type="radio" name="colorRadio" value="restaurant">Restaurateur</label>
            </div>
        {% endif %}
    {% endfor %}

    <div style="display: none" class="client box">
        {{ form_start(formClient) }}
        {{ form_widget(formClient) }}
        <button class="btn btn-primary" type="submit"> Envoyer</button>
        {{ form_end(formClient) }}
    </div>

    <div style="display: none" class="livreur box">
        <div class=" col-4 mt-3 border border-light p-3">
            <form method="POST" action="{{ path('register_addRoleDeliverer')}}">
                <label for="Vehicule"></label>
                <select id="Vehicule" name="filtreVehicule">
                    {% for vehicule in vehicules %}
                        <option value="{{ vehicule.id }}">{{ vehicule.type }}</option>
                    {% endfor %}
                </select>
                <input name="prenom" type="text" placeholder="prenom">
                <button>enregistrer</button>
            </form>
        </div>
        {#  {{ form_start(formDelivererman) }}
         {{ form_widget(formDelivererman) }}
         <button class="btn btn-primary" type="submit"> Envoyer</button>
         {{ form_end(formDelivererman) }} #}
    </div>

    <div style="display: none" class="restaurant box">
        {{ form_start(formRestaurant) }}
        {{ form_widget(formRestaurant) }}
        <button class="btn btn-primary" type="submit"> Envoyer</button>
        {{ form_end(formRestaurant) }}
    </div>







{% endblock %}
