{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class=" row ">
        <div class="col-11 mx-auto">
            <h1 class="text-center">Register</h1>
            {{ form_start(registrationForm) }}
            <div class="col-md-4">
                {{ form_row(registrationForm.name, {
                    label: 'Nom / Nom du restaurant'
                }) }}
            </div>
            <div class="col-md-4">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="col-md-4">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            </div>
            <div class="col-md-4">
                {{ form_row(registrationForm.numStreet) }}
            </div>
            <div class="col-md-4">
                {{ form_row(registrationForm.street) }}
            </div>
            <div class="col-md-4">
                {{ form_row(registrationForm.city) }}
            </div>
            <div class="col-md-4">
                {{ form_row(registrationForm.phoneNumber) }}
            </div>
            <div class="col-12">
                <div class="form-check">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}