{% extends 'base.html.twig' %}

{% block title %}Hello GestionClientController!{% endblock %}

{% block body %}

    <div class="border border-secondary p-3 m-3 ">
        <h1>commande(s) en cours</h1>
        {% if app.session.get('cartEmpty') %}
            <div class="alert alert-danger" role="alert">
                Vous devez ajouter au moins un plat à la commande
            </div>
        {% endif %}
        <ul>

            {% for order in orders %}
                <li>
                    <p>
                        {{ order.id }} - {{ order.restaurant.user.name }} - livraison souhaitée le :
                        {{ order.deliveryDate | date('d M Y à H:i') }} <strong>statut
                            : {{ order.orderStatus.name }}</strong>
                        prix avec livraison : {{ order.priceTTC }} €
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="border border-primary m-3 p-3">
        <h1 style="text-align: center; margin-top: 50px">Bonjour {{ app.user.name }} </h1>
        <div class="container border border-danger">
            <div class="row">
                {% for restaurant in restaurants %}
                    <div class="border border-dark col-sm m-3 p-3">
                        <h4>{{ restaurant.name }}  </h4>
                        <p>{{ themes[restaurant.restaurant.id] }}</p>
                        <p>{{ restaurant.city.cityName }}</p>
                        <button class="btn btn-primary"><a class="color color-white"
                                                           href=" {{ path('gestionClient_restaurant', {restaurant: restaurant.restaurant.id}) }}">CHOISIR</a>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
