{% extends 'base.html.twig' %}

{% block title %}{{ restaurant.user.name }}{% endblock %}

{% block body %}
    <div class="container-fluid m-1">
        <div class="row ">
            <div class="col-8">

                <div class="border border-black mt-3 ">
                    <h1 class="text-center mt-3 ">  {{ restaurant.user.name }}</h1>
                </div>
                <div class="row">

                    <div class=" col-4 mt-3 border border-light p-3">
                        <form method="POST" action="{{ path('gestionClient_restaurant', {restaurant : restaurant.id}) }}">
                            <label for="dishType"></label>
                            <select id="dishType" name="filtreDishType">
                                <option value="0">Tous</option>
                                {% for dish in restaurantDishs %}
                                    <option value="{{ dish.dishType.id }}">{{ dish.dishType.name }}</option>

                                {% endfor %}
                            </select>
                            <button>Filtrer</button>
                        </form>
                    </div>

                </div>
                <div class="mt-3">
                    <div class="row">
                        {% for dish in dishs %}
                            <div class="card col-4">
                                <img class="card-img-top mt-3" src="http://via.placeholder.com/250x200"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title text-center">{{ dish.name }}</h4>
                                    <h5 class="card-title text-center">{{ dish.dishType }}</h5>
                                    <p class="card-text text-center">{{ dish.dishDescription }}</p>
                                    <h2 class="text-danger text-center">{{ dish.dishPrice }}€</h2>

                                    <p class="text-center">il en reste <strong>{{ dish.stock }}</strong></p>

                                    {% if dish.stock > 0 %}
                                        <a href="{{ path('gestionClient_AddCart', {dish : dish.id}) }}"
                                           class="center-block btn btn-primary">Ajouter
                                        </a>
                                    {% else %}
                                        <h3 class="text-danger">rupture</h3>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-4 border border-warning">
                <h3 class="text-center p-2">Votre Commande</h3>
                {% if app.session.get('notEnoughtStock') %}
                    <h5 class="alert alert-danger">Quantité de stock non disponible</h5>
                    {{ app.session.get('noEnoughtStock') }}
                    {{ app.session.get('grgr') }}
                {% endif %}
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Plat</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                        <th scope="col"> +</th>
                        <th scope="col"> -</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for panier in paniers %}
                        <tr>
                            <td>{{ panier.dish.name }}</td>
                            <td align="center">{{ panier.quantity }}</td>
                            <th scope="row">{{ (panier.dish.dishPrice * panier.quantity)| number_format(2) }}</th>
                            <td><a href="{{ path('gestionClient_AddCart', {dish : panier.dish.id}) }}"
                                   class="badge badge-primary badge-pill"> + </a></td>
                            <td><a href="{{ path('gestionClient_removeCart', {dish : panier.dish.id}) }}"
                                   class="badge badge-danger badge-pill"> - </a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td align="right">LIVRAISON</td>
                        <td align="center"></td>
                        <th scope="row">3.00€</th>
                        <td><a href="" class=""> </a></td>
                        <td><a href="" class=""> </a></td>
                    </tr>
                    <tr>
                        <td align="right">TOTAL TTC</td>
                        <td align="center"></td>
                        <th scope="row">{{ totalPrice | number_format(2) }}</th>
                        <td>€</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class=" col-12 mt-3 border border-danger p-3">
                    <form action="{{ path('gestionClient_newOrder') }}" method="POST">
                        <label for="datetimeLivraison">date et heure de livraison souhaitée </label>
                        <input name="delivererDate" class="ml-3" id="datetimeLivraison" type="datetime-local">
                        <button type="submit">Confirmer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
