<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MonResto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if app.user %}
            {% if is_granted('ROLE_RESTAURANT') %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/gestion/restaurant">Restaurant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gestion/restaurant/plats">Mes plats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/gestion/restaurant/profil">Profil Restaurant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register/role">Ajouter un rôle</a>
                    </li>
                </ul>
            {% elseif is_granted('ROLE_DELIVERER') %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gestion_delivererman') }}">livraisons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gestion_delivererman_profil') }}">Profil livreur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gestion_deliveryhistory', {'id': app.user.deliverer.id}) }}">Historique</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register/role">Ajouter un rôle</a>
                    </li>
                </ul>
            {% elseif is_granted('ROLE_CLIENT') %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gestionClient_index') }}">Restaurants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("gestion_client_profil") }}">Profil client</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register/role">Ajouter un rôle</a>
                    </li>
                </ul>
            {% elseif is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register/role">Ajouter un rôle</a>
                    </li>
                </ul>
            {% endif %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Deconnection</a>
                    </li>
                </ul>
        {% else %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register/role">Ajouter un rôle</a>
                </li>
            </ul>
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i
                                class="fa fa-cog fa-fw fa-lg"></i></a></li>
                <li class="dropdown order-1">
                    <button type="button" id="dropdownMenu1" data-toggle="dropdown"
                            class="btn btn-outline-secondary dropdown-toggle" aria-expanded="true">Login <span
                                class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right mt-2">
                        <li class="px-3 py-2">
                            <form class="form" role="form" action="/login" method="POST">
                                <div class="form-group">
                                    <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
