{% extends 'base.html.twig' %}

{% block title %}Client - Profil{% endblock %}

{% block body %}
<div class="container mt-3 mb-4">
    <h1 class="text-center mb-4 mt-4">Profil de {{ client.firstName }}</h1>
        {% for message in app.flashes('editProfil') %}
        <div class="alert alert-success mt-3">
            {{ message }}
        </div>
        {% endfor %}
    <div class="row mx-md-n5">
            <div class="p-3 border bg-light">
                <h2 class="mt-3 mb-4">Information Client</h2>
                {{ form_start(form)}}
                    {{ form_widget(form)}}
                    <button class="btn btn-primary"> Envoyer </button>
                {{ form_end(form)}}

                <h2 class="mt-4 mb-4">Information utilisateur</h2>
                {{ form_start(formUser)}}
                    {{ form_widget(formUser)}}
                    <button class="btn btn-primary mb-3"> Envoyer </button>
                {{ form_end(formUser)}}
            </div>
    </div>
</div>
{% endblock %}