{% extends 'base.html.twig' %}

{% block title %}Livreur - Profil{% endblock %}

{% block body %}
<div class="container mt-3 mb-4">
    <h1 class="text-center mb-4 mt-4">Profil de {{ deliverer.firstname }}</h1>
        {% for message in app.flashes('editProfil') %}
            <div class="alert alert-success mt-3">
                {{ message }}
            </div>
        {% endfor %}
    <div class="row mx-md-n5">
        <div class="col px-md-5">
        <div class="p-3 border bg-light">
            <h2 class="mt-3 mb-4">Information livreur</h2>
            {{ form_start(form)}}
                {{ form_widget(form)}}
                <button class="btn btn-primary"> Envoyer </button>
            {{ form_end(form)}}

            <h2 class="mt-4 mb-4">Information utilisateur</h2>
            {{ form_start(formUser)}}
                {{ form_widget(formUser)}}
                <button class="btn btn-primary mb-3"> Envoyer </button>
            {{ form_end(formUser)}}
            </div>
        </div>
        <div class="col px-md-5">
            <div class="p-3 border bg-light">
            <h2>Livraisons de la journée</h2>
            <table class="table table-striped mt-3">
                <thead>
                    <th> Restaurant </th>
                    <th> Adresse de livraison </th>
                    <th> Date </th>
                </thead>
            <tbody>
            {% for order in deliverer.orders %}
                <tr>
                    <td>{{ order.restaurant.user.name }}</td>
                    <td>{{ order.client.user.numStreet ~ order.client.user.street ~", " ~ order.client.user.city.cityName }}</td>
                    <td>{{ order.deliveryDate | date("d/m/Y") ~ ' à ' ~ order.deliveryDate | date("h")~ 'h' ~ order.deliveryDate | date("m") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </div>
</div>
{% endblock %}
