{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

   <div>
       <h1>Bienvenue sur MonResto </h1>
       <img src="http://via.placeholder.com/600x500" alt="">
   </div>
{% endblock %}
