{% extends 'base.html.twig' %}

{% block title %}Hello GestionDelivererManController!{% endblock %}

{% block body %}

    <div class="border border-secondary p-3 m-3 ">


        <ul>

            <li>
                Resto
                - {{ order.restaurant.user.name }} {{ order.restaurant.user.numStreet }} {{ order.restaurant.user.street }}

            </li>
            <li>
                Client
                -{{ order.client.user.name }} {{ order.client.firstName }}  {{ order.client.user.numStreet }} {{ order.client.user.street }} {{ order.deliveryDate ? order.deliveryDate|date('d-M-Y H:i') : '' }}
            </li>
            <li>
                {{ order.priceTTC }}
            </li>

            {% for orderDishe in order.orderDishes %}
                <li> {{ orderDishe.dish.name }} </li>
            {% endfor %}
            <a href="{{ path('gestion_delivererman_changestatusdelivered', {'id': order.id}) }}"
               class="btn btn-dark  text-white mt-5">Livraison terminée</a>
        </ul>

    </div>
{% endblock %}