{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="border border-secondary p-3 m-3 ">
        <h1>votre commande en cours</h1>

        <p>
        </p>
        <ul>
            {% for order in orders %}
                <li>
                    {{ order.restaurant.user.name }} {{ order.restaurant.user.numStreet }} {{ order.restaurant.user.street }}
                    - {{ order.client.user.numStreet }} {{ order.client.user.street }}-
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}