{% extends 'base.html.twig' %}

{% block title %}Hello GestionDelivererManController!{% endblock %}

{% block body %}

    <contanier>
        <h2> Nom du secteur : {{ sector }}</h2>
        <div class="row">
            <div class="col px-md-5">
                <div class="p-3 border bg-light">
                    <table class="table table-striped mt-3">
                        <thead>
                        <th> Restaurant</th>
                        <th> Adresse de livraison</th>
                        <th> Action</th>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>  {{ order.restaurant.user.name }} {{ order.restaurant.user.numStreet }} {{ order.restaurant.user.street }}</td>
                                <td>{{ order.client.user.numStreet }} {{ order.client.user.street }}</td>
                                <td><a href="{{ path('gestion_delivererman_changestatusaccepeted', {'id': order.id}) }}"
                                       class="btn btn-dark center-block text-white mt-5">Ajouter</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </contanier>

{% endblock %}
